
    body {
      font-family: Arial, sans-serif;
      background-color: rgb(35, 35, 35);
          background-image: url(night.webp);
    }

    .form-container {
      width: 600px;
      margin: 50px auto;
      background-color: #454343;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(55, 18, 18, 0.1);
    }

    h2 {
      text-align: center;
      margin-bottom: 20px;
      color:  rgb(14, 13, 13);
    }

    label {
      font-weight:bolder;
      display:block;
      margin-top: 10px;
    }

    input, select, textarea {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
      border: 1px solid #606060;
      border-radius: 4px;
    }

    textarea {
      resize:vertical;
    }

    .gender {
      margin-top: 5px;
    }

    .gender input {
      width: auto;
      margin-right: 5px;
    }

    button {
      width: 100%;
      margin-top: 20px;
      padding: 15px;
      background-color: #007bff;
      color: rgb(255, 252, 252);
      border: none;
      border-radius: 4px;
      font-size: larger;
      cursor: pointer;
    }

    button:hover {
      background-color: #323131;
    }